body{
    background-image: url('https://media.giphy.com/media/bfEJneSL2MkLe/giphy.gif');
    background-repeat: no-repeat;
    background-size: 1550px 800px;
    
}

h1{
    color:#4286f4;
    text-align: center;
    font-style: oblique;
    font-weight:bold;
}

ul{
    color: #4286f4;
    font-family: Anton;
    font-weight:normal;
    }
    
h3{
    color:#a3c6ff;
    font-weight: bold;
    font-style: italic;
    }
    
    #navbar {
  overflow: hidden;
  background-color: #a3c6ff;
  width:360px;
}


#navbar a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition-duration: 1s;
  width:90px;
  font-family: Anton;
}
#navbar a:hover{
    background-color: #4286f4;
}
.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

 img {
    height:115px;
    }